/* ===========================================================================
  Agrego las Fuentes
  ===========================================================================*/
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
  }
  @font-face {
  font-family: 'Adelle';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle Cyrillic'), url('Adelle Cyrillic Regular.woff') format('woff');
  }
  @font-face {
  font-family: 'etica-display';
  font-style: normal;
  font-weight: normal;
  src: local('Etica Display'), url('etica-display.woff') format('woff');
  }


  /*  MAIN STUFF  */
  html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, main {
      margin: 0;
      padding: 0;
  }
  body{
      background-color: #fff;
      font: 100%/1.5 "lft-etica","HelveticaNeue","Helvetica","Arial",sans-serif;
      color: #2c2c2c;
  }

  /*  HEADER  */
  .nav-header{
    width: 100%;
    border-bottom: 1px solid #828383;
    margin-bottom: 2%;
  }
  .nav-center{
    max-width: 55%;
    margin: auto !important;
    padding: 1%;
    display: flex;
    justify-content: space-between;
  }
  .nav-title img{
    width: 50%;
  }

  .nav li{
    float: left;
  }


  .nav a {
      margin-top: 0.42em;
      display: block;
      padding: 1.7em 1em 1em 1em;
      text-transform: uppercase;
      text-align: center;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
  }

  .nav a:hover, .nav a:focus, .nav a.active {
      background: url(../img/bg_nav_active.svg) no-repeat 50% 8px;
      background-size: auto auto;
      -webkit-background-size: 45px auto;
      background-size: 45px auto;
      color: #db5370;
  }


  /*  LISTS */
  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /*  MAIN  */
  main{
    max-width: 55%;
    margin: auto !important;
  }

  /*  TEXT STYLE  */
  p{
    font: 100%/1.5 "lft-etica","HelveticaNeue","Helvetica","Arial",sans-serif;
    font-weight: 500;
  }
  h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
    line-height: 1.2;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }
  h2{
    line-height: 1.2;
    font-weight: normal;
  }
  h3{
    line-height: 1.2;
    font-weight: normal;
  }
  h4{
    font-family: "adelle","HelveticaNeue","Helvetica","Arial",sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.2;
    font-style: italic;
  }
  h5{

  }

  a {
      color: #2c2c2c;
      text-decoration: none;
      outline: 0;
      border: 0;
  }
  main a{
    color: #db5370;
    text-decoration: none;
  }
  main a:focus, main a:hover{
    text-decoration: underline;
  }



  /*  ELEMENTO HR */
  hr::after {
    margin-left: auto;
  }
  hr::before, hr::after {
    content: "";
    display: block;
    width: 60px;
    height: 30px;
    background: url(../img/bg_burst.svg) no-repeat 50% 100%;
        background-size: auto auto;
    background-size: contain;
    position: relative;
    bottom: 95%;
    left: 0;
  }
  hr {
    display: flex;
    border: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid #000;
    margin: 2em 0 1em;
    position: relative;
    width: 100%;
  }
  .separador{
    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
  }
/*  MAIN SECTIONS */
  #sinopsis p, h1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

  }
  #sinopsis h1{
    text-align: center;
    font-weight: lighter;
  }
  #sinopsis .primer-p{
    text-align: center !important;
    font-family: "adelle","HelveticaNeue","Helvetica","Arial",sans-serif !important;
  }
  #sinopsis img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .seccion header h1{
    text-align: center !important;
  }

  .necesidad-fotos img{
    width: 31%;
    height: auto;
    margin: auto;
  }
  .necesidad-fotos{
    margin: auto;
  }
  .video{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
  }

  .tec-part{
    margin: 1% auto;
  }

  .fotos-1 img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fotos-2{
    width: 84%;
    margin: 0 auto;

  }
  .fotos-2 img{
    width: 47%;
    margin: 1%;
  }


/*  FOOTER  */

footer{
  background: #000;
  color: #fff;
  padding: 2em 1em;
  width: 100%;
  height: 200px;
  margin-top: 2%;
}
/*.footer-center{
  max-width: 55%;
  margin: auto !important;
  padding: 1%;
}
.nav-footer-center{
  width: 100%;
  height: 5%;
}*/

.nav-footer{

  text-align: center !important;
}
.nav-list{
  padding: 0 40%;
  display: flex;
  flex.direction: horizontal;
  align-items: center;
  justify-content: space-around;
}
.nav-footer li{
  /*float:  left;*/
}
.nav-footer a {
    color: #fff;
    margin-top: 0.42em;
    display: block;
    padding: 1.7em 1em 1em 1em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.nav-footer a:hover, .nav-footer a:focus, .nav-footer a.active {
    color: #db5370;
}

.copyright{
  width: 100%;
  display: block;
  text-align: center;
  color: #a5a5a5;
  font-size: .75em;
}
